codex_10th/Chaos/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Crusade/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Xenos/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Imperium/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Boarding_Actions_10th.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Rulebook_10e.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Arks_of_Omen/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Chaos/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Chapter_Approved/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Crusade/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Imperium/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/War_Zone/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Xenos/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Rulebook_9e.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/other_book/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/codex_faq_&_errata_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/combat_patrol_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/core_rules_and_key_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/crusade_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/imperial_armour_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/indexes_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/legends_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/09.05.25/other_rules_10th/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/15.05.25(upd)/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_8th/Rulebook_Warhammer_40000_(8edition).pdf filter=lfs diff=lfs merge=lfs -text
codex_8th/Chaos/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_8th/Compaigns_and_Expansions/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_8th/Imperium/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/18.06.25(upd)/*.pdf filter=lfs diff=lfs merge=lfs -text
official_downloads(outdated)/04.06.25(upd)/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Xenos/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Imperium/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Crusade/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_10th/Chaos/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Arks_of_Omen/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Chaos/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Chapter_Approved/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Crusade/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Imperium/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/other_book/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
codex_9th/Xenos/compressed/*.pdf filter=lfs diff=lfs merge=lfs -text
